USE [Morokot]
GO
/****** Object:  StoredProcedure [dbo].[sp_rptLoanPaidSummary]    Script Date: 1/28/2020 10:34:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_rptLoanPaidSummary] (
@StartDate Varchar(12),
@EndDate Varchar(12),
@EM_ID Varchar(5),
@BrID Varchar(12))
AS
BEGIN
SET NOCOUNT ON;
Declare @SDate as DateTime;
Declare @EDate as DateTime;
Declare @Payoff as Nvarchar(100);
Declare @Repay as Nvarchar(100);
Declare @KHR as NVarchar(50);
Declare @USD as Nvarchar(50);
Set @SDate = @StartDate;
Set @EDate = @EndDate;
Set @Payoff =N'បង់ផ្ដាច់';
Set @Repay =N'យកប្រាក់ពីអតិថិជន';
Set @KHR =1;
Set @USD=2;

IF @BrID = 'All' set @BrID ='%';
IF @EM_ID= 'All' or @EM_ID= 'all' set @EM_ID='%';
----------------------------------------------------
select EM_ID,LD_BrId,
case when CU_ID = @KHR then sum(isnull(LD_ChargeAmt,0)) else 0 end AdminKHR,
case when CU_ID = @USD then sum(isnull(LD_ChargeAmt,0)) else 0 end AdminUSD,
case when CU_ID = @KHR then sum(isnull(Ref,0)) else 0 end RefKHR,
case when CU_ID = @USD then sum(isnull(Ref,0)) else 0 end RefUSD,
case when CU_ID = @KHR then sum(isnull(LD_InAmt,0)) else 0 end InsuranceKHR,
case when CU_ID = @USD then sum(isnull(LD_InAmt,0)) else 0 end InsuranceUSD
into #adminfee1
from BK_Loan where LD_Dis_Date between @SDate and @EDate and LD_BrId like @BrID
Group by EM_ID,LD_BrId,CU_ID
----------------- sum admin fee
select EM_ID,LD_BrId
,sum(isnull(AdminKHR,0))AdminKHR,sum(isnull(AdminUSD,0))AdminUSD
,sum(isnull(RefKHR,0))RefKHR,sum(isnull(RefKHR,0))RefUSD
,sum(InsuranceKHR)InsuranceKHR,sum(InsuranceUSD)InsuranceUSD
into #adminfee
from #adminfee1 group by EM_ID,LD_BrId
------------------------------------------------
select a.LR_BrID, a.EM_ID Employee_ID,d.EM_Name EM_Name,max(LR_Date) LR_Date,a.LD_ID,
 case when e.CU_ID=@KHR then count(a.LD_ID) else 0 end  Loan_ID_Kh,
 case when e.CU_ID=@USD then count(a.LD_ID) else 0 end  Loan_ID_USD
, case when e.CU_ID=@KHR then sum((LR_Amount)+Isnull(LR_Charge,0)) else 0 end LR_Amt_Kh
,case when e.CU_ID=@USD then sum((LR_Amount)+Isnull(LR_Charge,0)) else 0 end LR_Amt_USD
,case when e.CU_ID=@KHR then sum(Prn) else 0 end Prn_Paid_Kh
,case when e.CU_ID=@USD then sum(Prn) else 0 end Prn_Paid_USD
,case when e.CU_ID=@KHR then sum(Int) else 0 end Prn_Int_Kh
,case when e.CU_ID=@USD then sum(Int) else 0 end Prn_Int_USD
,case when e.CU_ID=@KHR then sum(isnull(LR_Service,0)) else 0 end LR_Service_Kh
,case when e.CU_ID=@USD then sum(isnull(LR_Service,0)) else 0 end LR_Service_USD
,case when e.CU_ID=@KHR then sum(isnull(LR_Charge,0)) else 0 end LR_Charge_Kh
,case when e.CU_ID=@USD then sum(isnull(LR_Charge,0)) else 0 end LR_Charge_USD
Into #a
from BK_LoanRepay a 
left join BK_Customer b on a.CM_ID1=b.ID and a.LR_BrID=b.CM_BrId
left join BK_Location c on b.LO_ID=c.LO_ID and b.CM_BrId = c.LO_BrID
left join BK_Employee d on a.EM_ID=d.EM_ID and a.LR_BrID=d.EM_BrID
left join BK_Loan e on a.LD_ID=e.LD_ID and a.LR_BrID=e.LD_BrId
where LR_Date between @SDate and @EDate and a.EM_ID like @EM_ID and LR_BrID like @BrID 
Group by a.LR_BrID,a.EM_ID,d.EM_Name,CU_ID,a.LD_ID

----------------------------------------- Prn 
select LD_ID,LD_BrId,LD_Dis_Amt,CU_ID 
into #payoff
from BK_Loan a
where a.Date_Payoff between @SDate and @EDate
---------------------------------------------------
select b.LD_ID,b.LR_BrID,b.LR_Date,
case when a.CU_ID=@KHR then isnull(b.Prn_Paid,0)-a.LD_Dis_Amt else 0 end prn_khr
,case when a.CU_ID=@USD then isnull(b.Prn_Paid,0)-a.LD_Dis_Amt else 0 end prn_usd
into #b 
from BK_Loan a 
inner join (
select max(LR_Date) LR_Date,LD_ID,LR_BrID ,sum(Prn) Prn_Paid
from BK_LoanRepay where LR_Date <= @EDate and LD_ID
in ( select LD_ID from #payoff) 
and LR_BrID like @BrID group by LD_ID,LR_BrID)b  
on a.LD_ID=b.LD_ID and a.LD_BrId=b.LR_BrID 
where b.Prn_Paid-a.LD_Dis_Amt >0
------------------------------------------------------------------------
select a.LR_BrID,a.Employee_ID,a.EM_Name
,a.Loan_ID_Kh,a.Loan_ID_USD,LR_Amt_Kh,LR_Amt_USD
,Prn_Paid_Kh-isnull(b.prn_khr,0) Prn_KHR
,Prn_Paid_USD - isnull(b.prn_usd,0) Prn_USD,
a.Prn_Int_Kh+isnull(prn_khr,0) Int_KHR
,a.Prn_Int_USD+isnull(prn_usd,0) Int_USD
,a.LR_Service_Kh
,a.LR_Service_USD
,a.LR_Charge_Kh
,a.LR_Charge_USD
into #Repay
from #a a left join #b b on a.LD_ID =b.LD_ID and a.LR_BrID=b.LR_BrID and a.LR_Date=b.LR_Date
-----------------------------------------------------------------------------------------------------
select LR_BrID,a.EM_ID,a.EM_Name
,
isnull(c.AdminKHR,0) AdminKHR,
isnull(c.AdminUSD,0)AdminUSD,
isnull(c.RefKHR,0) RefKHR,
isnull(c.RefUSD,0)RefUSD,
isnull(c.InsuranceKHR,0)InsuranceKHR,isnull(c.InsuranceUSD,0)InsuranceUSD,
sum(isnull(Loan_ID_Kh,0))Loan_KHR_Count
,sum(isnull(Loan_ID_USD,0))Loan_USD_Count,
sum(isnull(LR_Amt_Kh,0))LR_Amt_KHR
,sum(isnull(LR_Amt_USD,0))LR_Amt_USD
,sum(Prn_KHR)Prn_KHR,
sum(Prn_USD)Prn_USD
,sum(Int_KHR)Int_KHR
,sum(Int_USD)Int_USD
,sum(LR_Service_Kh)Service_KHR
,sum(LR_Service_USD)Service_USD
,sum(LR_Charge_Kh)Charge_KHR
,sum(LR_Charge_USD)Charge_USD 

,isnull(c.AdminKHR,0)+sum(isnull(Int_KHR,0))+sum(isnull(LR_Charge_Kh,0))+sum(isnull(LR_Service_Kh,0)) IntTotalKHR
,isnull(c.AdminUSD,0)+sum(isnull(Int_USD,0))+sum(isnull(LR_Charge_USD,0))+sum(isnull(LR_Service_USD,0)) IntTotalUSD
Into #total
from BK_Employee a
left join #Repay b on a.EM_BrID=b.LR_BrID and a.EM_ID=b.Employee_ID
left join #adminfee c on a.EM_BrID=c.LD_BrId and a.EM_ID=c.EM_ID
where isnull(c.AdminKHR,0)+isnull(c.AdminUSD,0)+isnull(Loan_ID_Kh,0)+isnull(Loan_ID_USD,0)>0
group by LR_BrID,a.EM_ID,a.EM_Name
,AdminKHR,AdminUSD,InsuranceKHR,InsuranceUSD
order by a.EM_ID
--select * from #total return
select LR_BrID,EM_ID,EM_Name,AdminKHR,AdminUSD,RefKHR,RefUSD,InsuranceKHR,InsuranceUSD,Loan_KHR_Count,Loan_USD_Count
,LR_Amt_KHR,LR_Amt_USD,Prn_KHR,Prn_USD,Int_KHR,Int_USD,Service_KHR,Service_USD
,Charge_KHR,
Charge_USD,
AdminKHR+Service_KHR+Charge_KHR+Int_KHR+InsuranceKHR TotalIntKHR,
AdminUSD+Service_USD+Charge_USD+Int_USD+InsuranceUSD TotalIntUSD 
from #total a
END

---------------------------------------------------------------------------------------------



