################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rity/Rithy/Rithy/.vs
/Rity/Rithy/Rithy/KTV/.vs
