USE [Morokot]
GO
/****** Object:  StoredProcedure [dbo].[sp_rptEndBalSumByEndDay]    Script Date: 1/28/2020 10:42:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[sp_rptEndBalSumByEndDay] (
@EndDate Varchar(12),
@BrID Varchar(12))
AS
BEGIN
SET NOCOUNT ON;
Declare @SDate as DateTime;
Declare @EDate as DateTime;
Declare @KHR as Nvarchar(100);
Declare @USD as Nvarchar(100);
Set @EDate = @EndDate;
Set @KHR = N'រៀល';
Set @USD = N'ដុល្លារ';

IF @BrID = 'All' set @BrID ='%';
----Loan Repay
Select a.LD_ID,
       c.CU_ID,
       a.LR_BrID
        ,case when c.CU_ID=2 then sum(a.LR_Amount) else 0 end USD
       ,case when c.CU_ID=1 then sum(a.LR_Amount) else 0 end KHR
       ,case when c.CU_ID=2 then sum(isnull(a.LR_Charge,0)) else 0 end Charge_USD
       ,case when c.CU_ID=1 then sum(isnull(a.LR_Charge,0)) else 0 end Charge_KHR
Into #LD_Repay
From dbo.BK_LoanRepay a Inner Join dbo.BK_LoanSchedule b On a.LD_ID = b.LD_ID and a.SH_Date = b.SH_Date and a.LR_BrID = b.SH_BrId
     Inner Join dbo.BK_Loan c On c.LD_ID = a.LD_ID and c.LD_BrId = a.LR_BrID
Where  a.LR_Date <= @EDate
      and a.LR_BrID = @BrID
      group by a.LD_ID,c.CU_ID,a.LR_BrID
      --and c.CU_ID = @CUID;

Select a.LR_BrID,
SUM( a.KHR) as KHR,
 sum(a.USD) as USD
 , sum(a.Charge_KHR) Charge_KHR,
 sum(a.Charge_USD) Charge_USD
   Into #TotalRepay
From #LD_Repay a
Group By a.LR_BrID;
--select * from #TotalRepay
--return
---------------------------------------------- Admin fee
Select 
       a.LD_ID, 
	   case when a.CU_ID=1 then sum(isnuLL(a.LD_ChargeAmt,0)) else 0 end KHR,
	   case when a.CU_ID=2 then sum(isnuLL(a.LD_ChargeAmt,0)) else 0 end USD,
	     case when a.CU_ID=1 then sum(isnuLL(a.Ref,0)) else 0 end RefKHR,
	   case when a.CU_ID=2 then sum(isnuLL(a.Ref,0)) else 0 end RefUSD,
	           a.LD_BrId,       a.CU_ID
Into #LD_Fee
From BK_Loan a
Where a.LD_BrId = @BrID
      and a.LD_Dis_Date <= @EDate
  group by a.LD_ID,a.LD_BrId,a.CU_ID
  
Select a.LD_BrId,
    sum(a.KHR) KHR,sum(a.USD)USD,
	sum(a.RefKHR) RefKHR,sum(a.RefUSD)RefUSD
Into #Total_Fee
From #LD_Fee a 
Group By a.LD_BrId

----------------------------------------------- Insurance
Select 
       a.LD_ID, case when a.CU_ID=1 then sum(isnuLL(a.LD_InAmt,0)) else 0 end KHR,case when a.CU_ID=2 then sum(isnuLL(a.LD_InAmt,0)) else 0 end USD
       ,        a.LD_BrId,       a.CU_ID
Into #LD_Insurance
From BK_Loan a
Where a.LD_BrId = @BrID
      and a.LD_Dis_Date <= @EDate
  group by a.LD_ID,a.LD_BrId,a.CU_ID
  
Select a.LD_BrId,
    sum(a.KHR) KHR,sum(a.USD)USD
Into #Total_Insurance
From #LD_Insurance a 
Group By a.LD_BrId
--select * from #Total_Insurance return
--select * from #LD_Fee
--return
----Loan Disbursment
Select 
       a.LD_ID, case when a.CU_ID=1 then sum(a.LD_Dis_Amt) else 0 end KHR,case when a.CU_ID=2 then sum(a.LD_Dis_Amt) else 0 end USD
       ,        a.LD_BrId,       a.CU_ID
Into #LD_Dis
From BK_Loan a
Where a.LD_BrId = @BrID
      and a.LD_Dis_Date <= @EDate
  group by a.LD_ID,a.LD_BrId,a.CU_ID
  
Select a.LD_BrId,
    sum(a.KHR) KHR,sum(a.USD)USD
Into #Total_Dis
From #LD_Dis a 
Group By a.LD_BrId

--Total Expense
Select 
       a.BrID,
     case when OPCurrency=N'រៀល' then sum(OPCost) else 0 end KHR,
        case when OPCurrency=N'ដុល្លារ' then sum(OPCost) else 0 end USD,
       a.OPCurrency
Into #EX
From ExpenseOperation a 
Where a.BrID = @BrID and a.OPDate <= @EDate group by a.BrID,OPCurrency
Select a.BrID,
   SUM( a.KHR) KHR,sum(a.USD) USD
Into #Total_Ex
From #EX a
Group by a.BrID
--Owner Withdrawal and Deposit
Select a.BrID,
       sum(a.USD) USD,
       sum(a.KHR) KHR
Into #Total_Deposit
From OwnerTransaction a 
where a.BrID = @BrID
     and a.OPDate <= @EDate and a.OPType='Deposit' group by a.BrID;

Select a.BrID,
       sum(a.USD) USD,
       sum(a.KHR) KHR
Into #Total_Withdrawal
From OwnerTransaction a 
where a.BrID = @BrID
     and a.OPDate <= @EDate and a.OPType='Withdrawal' group by a.BrID;

select BrId,SUM( USD)USD,SUM( KHR)KHR 
into #Total_USDTOKHR
from BK_Exchange where Date_Operation<=@EDate and Type='USDTOKHR'
group by BrId

select BrId,SUM( USD)USD,SUM( KHR)KHR 
into #Total_KHRTOUSD
from BK_Exchange where Date_Operation<=@EDate and Type='KHRTOUSD'
group by BrId
------------------------
select BrId
,case when CU_ID=1 then sum(isnull(Amount,0)) else 0 end KHR 
,case when CU_ID=2 then sum(isnull(Amount,0)) else 0 end USD
into #OtherTem
from BK_OtherIncome where BrId like @BrID and Date_Operation <=@EDate group by BrId,CU_ID
--
select BrId,sum(isnull(KHR,0))KHR,sum(isnull(USD,0))USD 
into #OtherTotal from #OtherTem Group by BrId
-----
select a.CompanyID,a.CompanyKhmerName,
 (isnull(b.KHR,0)+isnull(c.KHR,0)+isnull(i.KHR,0)+isnull(j.KHR,0)+isnull(j.RefKHR,0)+c.Charge_KHR+l.KHR+isnull(s.KHR,0))
 - (isnull(d.KHR,0)+isnull(e.KHR,0)+isnull(f.KHR,0)+isnull(h.KHR,0)) KHR 
,(isnull(b.USD,0)+isnull(c.USD,0)+isnull(h.USD,0)+isnull(j.USD,0)+isnull(j.RefUSD,0)+c.Charge_USD+l.USD+isnull(s.USD,0))
- (isnull(d.USD,0)+isnull(e.USD,0)+isnull(f.USD,0)+isnull(i.USD,0))  USD 

from BK_Company a
------------------------ Income
left join #Total_Deposit b on a.CompanyID=b.BrID
left join #Total_Fee j on a.CompanyID=j.LD_BrId
left join #TotalRepay c on a.CompanyID=c.LR_BrID
left join #OtherTotal s on a.CompanyID=s.BrId
------------------------ Expense
left join #Total_Withdrawal d on a.CompanyID=d.BrID
left join #Total_Dis e on a.CompanyID=e.LD_BrId
left join #Total_Ex f on a.CompanyID=f.BrID
left join #Total_KHRTOUSD h on a.CompanyID=h.BrId
left join #Total_USDTOKHR i on a.CompanyID=i.BrId
left join #Total_Insurance l on a.CompanyID=j.LD_BrId

where a.CompanyID=@BrID
--select * from #Total_Deposit
--select * from #Total_Fee
End



