use Barcode
update tblCollateral set CollateralName=N'សៀវភៅស្នាក់នៅCopy' where id='7'
update tblCollateral set CollateralName=N'សៀវភៅគ្រួសារCopy' where id='8'
update tblCollateral set CollateralName=N'File' where id='12'